@model StackUndertowMVC.Models.Answer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Answer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Question.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Score)
        </dd>
        <dd>
            @if(ViewBag.HasVoted)
            {
                using (Html.BeginForm())
                {
                    <input name="submit" type="submit" value="Unvote" class="btn btn-danger" />
                }
            }
            else
            {
                using (Html.BeginForm())
                {
                    <input name="submit" type="submit" value="Upvote" class="btn btn-success" />
                }
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
